    
<!-- Basic Page Info -->
<!--		<meta charset="utf-8" />
		<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>-->

<!-- Site favicon -->
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="vendors/images/apple-touch-icon.png" />
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="~/vendors/images/favicon-32x32.png" />
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="~/vendors/images/favicon-16x16.png" />

<!-- Mobile Specific Metas -->
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Google Font -->
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
<!-- CSS -->
<link 
    rel="stylesheet" 
    type="text/css" 
    href="~/vendors/styles/core.css" />
<link
    rel="stylesheet"
    type="text/css"
    href="~/vendors/styles/icon-font.min.css" />
@*<link
    rel="stylesheet"
    type="text/css"
    href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css" />
<link
    rel="stylesheet"
    type="text/css"
    href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css" />*@
<link
    rel="stylesheet"
    type="text/css"
    href="~/src/plugins/ion-rangeslider/css/ion.rangeSlider.css" />
@*<link
    rel="stylesheet"
    type="text/css"
    href="~/src/plugins/sweetalert2/sweetalert2.css" />*@
<link 
    rel="stylesheet" 
    type="text/css" 
    href="~/vendors/styles/style.css" />

<!-- switchery css -->
<link
    rel="stylesheet"
    type="text/css"
    href="~/src/plugins/switchery/switchery.min.css" />

<!-- dataTable css -->
<link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css" />
<link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />

<!-- dataTable jQuery DataTables Checkboxes css -->
@*<link rel="stylesheet"
      href="~/css/datatables.checkboxes.css" />*@

<link rel="stylesheet" 
    href="~/css/watchdogcore.css" rel="stylesheet" />
<!-- air datepicker -->
<link href="~/src/plugins/air-datepicker-3.3.5/dist/air-datepicker.css" rel="stylesheet" />