@page
@model MixWeb.Pages.Permission.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["Page"] = "permission/index";
    ViewData["Group"] = "accountGroup";
    ViewData["user"] = this.User;
}

<h1>新增權限角色</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mpermission.Role" class="control-label">角色(例: wjAdmin / wjUser)</label>
                <input asp-for="Mpermission.Role" class="form-control" placeholder="商戶管理員 / 商戶使用者" />
                <span asp-validation-for="Mpermission.Role" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mpermission.Disable" />停用
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Mpermission.Note" class="control-label">備註</label>
                <input asp-for="Mpermission.Note" class="form-control" />
                <span asp-validation-for="Mpermission.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回權限設置</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
